.todo{
    height: 41px;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: content-box;
    transition: var(--m-delay);
    &:hover{
        border-bottom:1px solid var(--todo-hover) ;
    }
    &:focus-within{
        &::before{
            content: '';
            transition: 0.15s;
            display: block;
            width: 105%;
            height: 46px;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-50%, -50%);
            background-color: var(--white);
            border-radius: 3px;
            box-shadow: 1px 0px 5px 4px rgba(63, 61, 61, 0.11);
        }
    }
    &__input{
        width: 100%;
        position: relative;
        z-index: 3;
        border: none;
        background-color: transparent;
        height: 100%;
    }
}

.created_todo{
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    background: #fc0; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
}