@import '../../../styles/utils/utils.scss';
.avatar {
  &__btn {
    background-color: #eae;
    color: black;
    width: 60px;
    height: 60px;
    text-transform: uppercase;
    border-radius: 50%;
    @include font(18);
    @include flex(cc);
  }
}
