.input {
  border: 2px solid var(--border-gray);
  height: 56px;
  width: 100%;
  border-radius: 12px;
  transition: var(--m-delay) ease-in;
  padding: 0 20px;
  &:active {
    border-color: var(--black-primery);
  }
  &__error {
    transition: var(--m-delay) ease-in;
    border-color: var(--error-color);
    &:focus {
      border-color: var(--error-color);
    }
  }
}
.title {
  font-family: 'Inter';
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: var(--label-content);
}

.wrap {
  position: relative;
  display: block;
  padding: 5px 0 20px;
}
.text__error {
  position: absolute;
  left: 0;
  bottom: -5px;
  color: var(--negative-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Inter';
  margin: 0;
}

.btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 40px;
  right: 15px;
  cursor: pointer;
}
